<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Warzywniak</title>
    <link rel="stylesheet" href="static/css/style_list.css">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'images/favicon.ico')}}">
    <script src="static/js/list.js?newversion"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div class="container-main">
        <div class="container-header">
            <header class="header">
                <a class="link-title" href="/">Zgadnij co to!</a>
            </header>
        </div>

        <div class="container-list">
            <h1>Czy to...?</h1>
            <table>
                <tbody>
                    <tr>
                        <td><img src = {{var[0]['image']}} ></td>
                        <td>{{var[0]['fruit']}}</td>
                        <td>
                                <a class="link-title" href="/ranking"><button id = "select-button0" name = {{var[0]['fruit']}}>Wybierz</button></a>
                        </td>
                    </tr>
                    <tr>
                        <td><img src={{var[1]['image']}}></td>
                        <td>{{var[1]['fruit']}}</td>
                        <td>
                                <a class="link-title" href="/ranking"><button id = "select-button1" name = {{var[1]['fruit']}}>Wybierz</button></a>
                        </td>

                    </tr>
                    <tr>
                        <td><img src={{var[2]['image']}}></td>
                        <td>{{var[2]['fruit']}}</td>
                        <td>
                                <a class="link-title" href="/ranking"><button id = "select-button2" name = {{var[2]['fruit']}}>Wybierz</button></a>
                        </td>
                    </tr>
                    <tr>
                        <td><img src={{var[3]['image']}}></td>
                        <td>{{var[3]['fruit']}}</td>
                        <td>
                                <a class="link-title" href="/ranking"><button id = "select-button3" name = {{var[3]['fruit']}}>Wybierz</button></a>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="static/images/question_mark.png"></td>
                        <td>Żadne z powyższych</td>
                        <td>
                                <a class="link-title" href="/ranking"><button id = "select-button4" name = "nieznajoma">Wybierz</button></a>
                        </td>
                    </tr>
                    
                    
                </tbody>
            </table>
        </div>

    </div>

</body></html>
