.header a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 3.5em;
    font-weight: bold;
    font-family: Apple Chancery, cursive;
}

.header button {
    background-color: #4CAF50;
    border: none;
    width: 200px;
    font-size: 40px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-header {
    background-color: #4CAF50;
    height: 60px;
    width: auto;
    padding: 20px 20px 40px 20px;
    margin: 15px;
}

.container-main {
    margin: 15px;
}

.container-table {
    float: left;
    width: 40%;
    /*margin-left: 15px;*/
}

.container-results {
    float: left;
    width: 60%;
}

/* Styles for table*/

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-size: 2.5em;
    font-weight: bold;
    color: #4CAF50;
    border-collapse: collapse;
    height: 100px;
    width: 300px;
}

tr {
    width: auto;
}

td {
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: #4CAF50;
    height: 100px;
    width: 100%;
}

.container-results {
    text-align: center;
}

div.gallery {
    border: 1px solid #fff;
    width: 200%;
    margin-left: 300px;
    margin-right: 300px;
}

div.gallery:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery img {
    width: 100%;
    height: auto;
    background-color: white;
}

div.desc {
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 1.5em;
}


.responsive {
    width: 250px;
    padding: 0 6px;

}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
